.color-nav .input {
    background-color: rgb(173, 137, 38);
}

.form {
    width: 80%;
    height: 150px;
    padding: 12px 40px;
    box-sizing: border-box;
    border: 3px solid #ccc;
    border-radius: 43px;
    background-color: #f8f8f8;
    font-size: 15px;
    resize: none;
}